.page-header
  %h1 Smart Grid Enabled Devices

#devices
  %table.table.table-striped
    %thead
      %tr
        %th Device ID
        %th Name
        %th Category
        %th
    %tbody
      - @devices.each do |device|
        %tr
          %td= device['deviceId']
          %td
            %strong
              = device['marketingName']
          %td= device['category'].first
          %td
            = link_to "Manage", thermostats_path, :class => 'btn btn-danger'

